extends layout.pug

block content
	h1= title
	fieldset
		div(data-role='fieldcontain')
			label(for="flip-1") Dator
			select#flip-1(name='flip-1', data-role ='slider')
				option(value='off') off
				option(value='on') on 
			br
			br
			label(for='slider-bed-red') Red
			input#slider-bed-red(type="range", name="slider-bed-red", value="0", min="0", max="255")
			br
			br
			label(for='slider-bed-green') Red
			input#slider-bed-green(type="range", name="slider-bed-green", value="0", min="0", max="255")
			br
			br
			label(for='slider-bed-blue') Blue
			input#slider-bed-blue(type="range", name="slider-bed-red", value="0", min="0", max="255")
			br
			br
			label(for="flip-2") Säng Röd
			select#flip-2(name='flip-2', data-role ='slider')
				option(value='off') off
				option(value='on') on
			label(for="flip-3") Säng Blå
			select#flip-2(name='flip-3', data-role ='slider')
				option(value='off') off
				option(value='on') on

	